<footer class="bg-dark text-white py-4 mt-5">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      
      <div class="mb-3 mb-md-0">
        <span class="fw-semibold">&copy; 2025 VHR Private Limited</span>
      </div>
  
      <div class="mb-3 mb-md-0">
        <a href="https://www.linkedin.com/in/vishal-kumar-4b0641277/" class="text-white me-3" target="_blank">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://x.com/VishalKuma59352" class="text-white me-3" target="_blank">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/" class="text-white" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
  
      <div>
        <a href="https://policies.google.com/privacy?hl=en-US" class="text-white text-decoration-none me-3">Privacy</a>
        <a href="/terms" class="text-white text-decoration-none">Terms</a>
      </div>
  
    </div>
  </footer>
  